Repository TherapistTrack/therapistTrackApp, pull requests merged in 2024-05, with the labels that each got.

#10 FR-34 | Add new endpoints to handle User functionalities
  Backend/.dockerignore
  Backend/.env
  Backend/Dockerfile
  Backend/dbConfig.js
  Backend/package.json
  Backend/server.js
  Backend/src/models/dbqueries.js
  Backend/src/utils/authentication.js
  package-lock.json
Labels: Backend

#7 Fr 31
  Database/DB_Diagram.plantuml
  Database/DB_Diagram.png
  Database/README.md
  Database/design.js
  Database/scripts/02-User.js
  Database/scripts/03-Doctor.js
  Database/scripts/04-Assistant.js
  Database/scripts/04-Patient.js
  Database/scripts/05-PatientTemplate.js
  Database/scripts/06-Patient.js
  Database/scripts/07-FileTemplate.js
  Database/scripts/08-File.js
  Database/scripts/09-Record.js
  Database/squemas.json
Labels: BD

#12 FR-40/41 feat: log in component, create and edit user component. Implementatio…
  Frontend/src/App.vue
  Frontend/src/components/CreateUser.vue
  Frontend/src/components/EditUser.vue
  Frontend/src/components/NameEntry.vue
  Frontend/src/components/PasswordEntry.vue
  Frontend/src/components/UserLogin.vue
  Frontend/src/router/index.js
Labels: Frontend
